
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Chelsea+Market&family=Lobster&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@300&family=Pacifico&family=Righteous&family=Roboto&family=Roboto+Condensed&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
*{
    font-family: Lobster;
}

.navbar-brand span{
    color:rgb(226, 89, 135);
    font-size: 50px;
    font-family: Lobster;
    
}

.nav-link
{
    /* background-image: url(./pics/pexels-photo-1831234.jpeg); */
    color: palevioletred;
    font-size: 25px;
    
    /* background-color: rgb(255, 234, 238); */
}

.nav-link:hover{
    color: rgb(226, 103, 103);
}

.navbar-brand img{
    /* background-color: transparent; */
    position: relative;
    }
.navbar-brand{
  
    color: palevioletred !important;
    font-size: 30px;
    letter-spacing: 2px;
    

}
.collapse.navbar-collapse{
    font-size: 20px;
    
}

.menu-right-btn {
     color: palevioletred;
     padding: 10px 30px; /* top right bottom left */
     margin-right: 5%;
     /* transition: all 300ms ease-in rgb(119, 21, 38)145, 39, 57); */
     background-color: transparent;
     /* box-shadow: 10px 5px 20px pink; */

}

.menu-right-btn:hover 
{background-color : rgb(224, 72, 123);
color: white;
transition-duration: 0.4s;
box-shadow: 0 12px 16px 0;

}


.menu-right-btn:active {
    box-shadow: 0 5px pink;
    transform: translateY(4px);
  }

  .carousel-inner p{
      font-size: 30px;
      color: rgb(238, 231, 238);
  }



h5{

    font-family: 'Bangers';
    font-size: 100px;
    color:  rgb(182, 54, 75);
    text-shadow: rgb(182, 54, 75);
    
}

.carousel-item {
    height: 550px;
  }
  
  .carousel-inner > .carousel-item > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 550px;
  } 
  
  .section-1 h1{
      font-family: Chelsea Market;

    color: rgb(238, 129, 93);

  }

  .section-1 .card-title
  {
      font-size: 70px;
  }

   .section-1 .card { 
       
    border: none;
  } 

  .section-2 .container-fluid
  {
      background-image: url(./pics/pexels-photo-1831234.jpeg);
  }

  .section-2 h2
  {
     font-family: Playbal;
    color: coral;
     font-size: 40px;
  }
  .section-1 .card-text
  {
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
  }

  .section-1 button{

    padding: 10px 50px; 

  }

  .section-1 button:hover{

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  }

  .section-22 button{
   

        padding: 10px 50px; 
        color: floralwhite;
        background-color: rgb(224, 72, 123);;
    
  }

  .section-22 button:hover{

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  }

  
  /* .section-3 .container-fluid 
  {
      background-attachment: fixed;
      background-size: fixed;
  }

  .section-3 .container-fluid img
    {


        height:400px;
        
        padding-top: 3%;
      
    }

    .section-3 .container-fluid img:hover
    {
        opacity: 0.8;
    } */

    .section-3 .card .card-title .card-img-overlay{
  /* width: 30px;
        height: 20px ; */
    }
.section-22 .fixed-bg
{
    background-image: url("./pics/photo-1521590832167-7bcbfaa6381f.jpg");
  background-attachment:fixed;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.section-22 h1{
    font-family:'Black Han Sans', sans-serif;
    /* color: rgb(218, 69, 99); */
    color: rgb(228, 76, 106);

font-size: 50px;
}
.section-22 p{
    font-size: 20px;
    color: floralwhite;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    


}
    .section-3 .card-img {

        width: 1345px;
      
        height: 400px;
        background-attachment: fixed;
        background-size: fixed;

        filter: brightness(80%);
    }

    /* .section-3 .card-img .card-img-overlay:hover
    {
        opacity: 0.5;
    }
   */
    
    .section-4 .card {

 border: none;
 height: 500px;
    }
    
    .section-4 .card-img-top:hover
    {
        filter: brightness(70%);
        background-color: rgba(0,0,0,0.2);


    }
    .section-4 .card-img-overlay:hover
    {
        background-color: rgba(0,0,0,0.2);
    }
    .section-4 button{
      margin-left: 37%;

    }

    .section-4 button:active
    {
        transform: translateY(4px);

    }

    .section-4 button.butt
    {
        margin-right: 32%;
    }
    .section-4 button .buttss
    {
       margin-top: 5%;
       color: rosybrown;
    }

    .section-4 .card {
        background-image: url(./pics/pexels-photo-1831234.jpeg);
    }
    .section-4 .card-titles{

        color:  rgb(233, 52, 82);
        
    }
    .section-4 p
    {
        font-family: Arial, Helvetica, sans-serif;

    }
    .section-4 h2 {
        color:  rgb(182, 54, 75);

    }
    .section-4 .card-texts{

        color: floralwhite;
        font-family: Arial, Helvetica, sans-serif;
        
    }

   footer 
    {
        /* background-image: url(./pics/makeup.jpeg); */
        /* background-attachment:fixed; */
        background-color: rgb(85, 80, 80);
        min-height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 2;
        filter: brightness(90%);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    footer p{

        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    footer ul
    {
        padding-left: 2%;
        font-family: Arial, Helvetica, sans-serif;

    }

    footer form-control
    {
        margin:10px;
    }
    footer h1
    {
        color:  rgb(230, 96, 118);
        text-decoration: underline;
    }

    .social i{
    /* color:  rgb(235, 57, 87); */
     /* color:  rgb(233, 52, 82);  */

    font-size: 25px;
    }
    .social i:hover
    {
        color:  rgb(233, 52, 82); 

        /* color: rosybrown; */
        cursor: pointer;
    }
    
  /* .carousel .carousel-inner{
    height:500px */


  /* .carousel-inner .carousel-item img
  {

    min-height:500px;
object-fit:cover;
background-size: cover;

  } */

  .container-for-about
  {
    background-image: url(./pics/salon.jpeg); 
    background-attachment:fixed;
    min-height: 400px;
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           opacity: 0.9;
           filter: brightness(90%);
           font-family: Arial, Helvetica, sans-serif; */
  }
  .container-for-gallery
  {

      background-image: url(./pics/cv.jpeg); 
      background-attachment:fixed;
      min-height: 400px;
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
             opacity: 0.9;
             filter: brightness(90%);
             font-family: Arial, Helvetica, sans-serif; */

  }
  .container-for-service
  {

      background-image: url(./pics/makeup.jpeg); 
      background-attachment:fixed;
      min-height: 400px;
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
             opacity: 0.9;
             filter: brightness(90%);
             font-family: Arial, Helvetica, sans-serif; */

  }

  .section02 h1
  {
      margin-top: 2%;
    color: rgb(228, 76, 106);
    letter-spacing: 2px;
  }
  .container-for-about h1
  {
    

  }

  

  .section-222 .card-deck .card
  {
      border: none;
  }
 .container .col-md-6 img 
 {
     height: 350px;
     width: 400px;
     
 }
  .section-222 .card-deck .card img
  {
      height: 220px;
      /* width: 200px; */
  }

  .section-222 .card-deck .card img:hover
  {
      opacity: 0.7;
      cursor: pointer;
  }
  
  #my-grid
  {

    margin-top: 50px;

    }

.grid-padding
{
    padding: 0 8px
}

.grid-padding img
{
  margin-bottom: 15px;
  transition: 0.8s ease;
}
.grid-padding .col-md-4 img:hover{
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.5);
    transition: 0.9 ease;
}

  .fit-image
  {
      height: 100%;
      width: 100%;
  }

   .container .col-md-4
  {
      padding-right: 30px;
  }


  .testimontal 
  {
      height: 700px;
  }

  .testimontal .container-fluid 
  {
      /* padding: 100px;
      background-color: blanchedalmond;
      background-image: url(./pics/pics.jpeg);
     
      background-attachment: fixed;
      background-size: cover; */
      background-color: blanchedalmond;
      padding: 100px;
      background-image: url(./pics/pics.jpeg);
      background-repeat: no-repeat;

  }
  .testimontal .container-fluid h1
  {
      
      color: rgb(228, 76, 106);
      letter-spacing: 3px;

  }
  

   .testimontal .carousel-inner .carousel-item .img-box
  {
      width: 130px;
      height: 80px;
     border-color: none;
  }
  .testimontal .carousel-inner .carousel-item .img
  {
      height: 10px;
     
  }
   .testimontal .carousel-inner .carousel-item p
  {
    /* color: rgb(228, 76, 106); */
     color: whitesmoke;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif

  }

  .testimontal .carousel-control-prev
  {
      left: -100px;
  }
  .testimontal .carousel-control-next
  {
      right: -100px;
  }
  .testimontal .carousel-indicators
  {
      top: 330px;
  }
  .testimontal .section-for-about h1 , h2
  {
    color:  rgb(182, 54, 75);

  } 
  .container .table-responsive .table-striped
  {
      background-color:rgb(248, 228, 201);
      cursor: pointer;
      font-family: Arial, Helvetica, sans-serif;
  }
  .container .table-responsive .table-striped td
  {
      font-family: Arial;
      font-size: 15px;
  }
  
  .heading1
  {
    color:  rgb(182, 54, 75);

    letter-spacing: 2px;
  }
  .container-for-cntct .table-responsive .table-striped
  {
      background-color:rgb(248, 228, 201);
      cursor: pointer;
      font-family: Arial, Helvetica, sans-serif;
  }
  .container-for-cntct .table-responsive .table-striped td
  {
    font-family: Arial;
    font-size: 15px;
  }
 